//- .wrapper 
//-   - const upper = name.toUpperCase();
//-   .hello Hello, it's me, #{upper}
//-   span#sp my span
//-   img(src='dog.jpg' alt="dog")
//-   | hello
//-   | world

extends layout

//- p whithout block it won't work

//- block header
//-   p this is a header

block content 
  h2 Sale ends #{h.moment().endOf('day').fromNow()}