extends layout

include mixins/_loginForm

block content
  .inner 
    form.form(action="/register" method="post")
      h2 Register
      label(for="name") Name
      input(type="text" name="name" value=`${body.name || ''}` required)
      label(for="email") Email
      input(type="email" name="email" value=`${body.email || ''}` required)
      label(for="password") Password
      input(type="password" name="password" value=`${body.password || ''}`)
      label(for="confirmPassword") Confirm password
      input(type="password" name="confirmPassword" value=`${body.confirmPassword || ''}`)
      input.button(type="submit" value="Register")